@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div> 
    <h2>Your movie @Model.Title Has been Added!</h2>  
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddMovie">Add Another Movie</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Go Home</a>
    </p>

</div>

