@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1>Get To Know Joel</h1>
    <br />  
    <h2>Here are a few thing that I like! Check them out </h2>
</div>
<br />  



<div class="about-me">
    <div class="card">
        <a href="https://www.qwcomedy.com/" class="website-link">Quick Wits Comedy</a>
        <img src="~/mission6image3.jpg" class="website-image" alt="Quick Wits Comedy">
    </div>

    <div class="card">
        <a href="https://baconsale.com/" class="website-link">Baconsale</a>
        <img src="~/mission6image2.jpg" class="website-image" alt="Baconsale">
    </div>
</div>