@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>Welcome to my Movie Library.</p>
</div>
<br />
<br />

<div class ="text-center">
    <p><img src="~/mission6image.jpg" height="200" /></p>
</div>



